<div class="mt-4">
    <h3>Dang ky</h3>
        <div class="container-fluid mt-3">
            <form method="POST" action="/account/register">

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" id="email" class="form-control" placeholder="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" id="password"class="form-control" placeholder="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Dang Ky </button>

            </form>

        </div>
</div>