<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <img class="w-full" itemprop="image" alt="" src="{{Book.img}}">
            <button>Mua ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{Book.title}}</h2>
            <p>Perfect town. Perfect homes. Perfect families. It's enough to drive some women mad...</p>
        </div>
    </div>
</div>