<div class="search-form mt-4">
   <form class="form-inline" method="">
    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>